.container-movil {
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px 0;
    height: 97%;
    .container-movil-img {
        img {
            height: 100%;
            margin: auto;
            display: block;
            width: 100%;
            border-radius: 10px 10px 0 0;
        }
    }
    .container-movil-body {
        padding: 10px;
        h1 {
            font-size: 25px;
            height: 60px;
            @media (max-width: 600px) {
                height: 100px;
            }
        }
        p {
            font-size: 15px;
            text-align: justify;
            height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            /* white-space: nowrap; */
        }
    }
}